---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,%20co&key=<GoogleKey>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 19 Apr 2020 17:26:58 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OpenWeatherKey>&lat=39.7392358&lon=-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","current":{"dt":1587317214,"sunrise":1587298532,"sunset":1587346916,"temp":281.65,"feels_like":277.8,"pressure":1016,"humidity":31,"dew_point":266.35,"uvi":7.24,"clouds":1,"visibility":16093,"wind_speed":1.41,"wind_deg":22,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"rain":{}},"hourly":[{"dt":1587315600,"temp":281.65,"feels_like":277.8,"pressure":1016,"humidity":31,"dew_point":266.35,"clouds":1,"wind_speed":1.41,"wind_deg":22,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},{"dt":1587319200,"temp":284.14,"feels_like":280.44,"pressure":1013,"humidity":26,"dew_point":266.25,"clouds":35,"wind_speed":1.17,"wind_deg":23,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"dt":1587322800,"temp":286.09,"f[...]
