---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UnsplashKey>&orientation=landscape&query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UnsplashKey>&orientation=landscape&page=35&query=denver>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UnsplashKey>&orientation=landscape&page=2&query=denver>;
        rel="next"
      X-Total:
      - '350'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '43'
    body:
      encoding: ASCII-8BIT
      string: '{"total":350,"total_pages":35,"results":[{"id":"tjoxkIODoCE","created_at":"2018-12-30T03:02:24-05:00","updated_at":"2020-03-28T01:05:09-04:00","promoted_at":null,"width":5472,"height":3648,"color":"#151613","description":null,"alt_description":"aerial
        photo of city","urls":{"raw":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQ1M30","full":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQ1M30","regular":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQ1M30","small":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQ1M30","thumb":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQ1M30"},"links":{"self":"https://api.unsplash.com/photos/tjoxkIODoCE","html":"https://unsplash.com/photos/tjoxkIODoCE","download":"https://unsplash.com/photos/tjoxkIODoCE/download","download_location":"https://api.unsplash.com/photos/tjoxkIODoCE/download"},"categories":[],"likes":41,"liked_by_user":false,"current_user_collections":[],"user":{"id":"3NS5bv8kZU4","updated_at":"2020-03-21T01:05:24-04:00","username":"theadventurebitch","name":"Cassie
        Gallegos","first_name":"Cassie","last_name":"Gallegos","twitter_username":"adventure_bitch","portfolio_url":"Https://www.theadventurebitch.com","bio":"Personal
        Instagram: @TheAdventureBitch\r\nPhotography Instagram: @TejasPrints","location":"Denver,
        CO","links":{"self":"https://api.unsplash.com/users/theadventurebitch","html":"https://unsplash.com/@theadventurebitch","photos":"https://api.unsplash.com/users/theadventurebitch/photos","likes":"https://api.unsplash.com/users/theadventurebitch/likes","portfolio":"https://api.unsplash.com/users/theadventurebitch/portfolio","following":"https://api.unsplash.com/users/theadventurebitch/following","followers":"https://api.unsplash.com/users/theadventurebitch/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Theadventurebitch","total_collections":5,"total_likes":0,"total_photos":17,"accepted_tos":true},"tags":[{"type":"landing_page","title":"landscape","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"},"subcategory":{"slug":"landscape","pretty_slug":"Landscape"}},"title":"Landscape
        Images & Pictures","subtitle":"Download free landscape images","description":"Choose
        from a curated selection of landscape photos. Always free on Unsplash.","meta_title":"Stunning
        Landscape Pictures | Download Free Images on Unsplash","meta_description":"Choose
        from hundreds of free landscape pictures. Download HD landscape photos for
        free on Unsplash.","cover_photo":{"id":"LJD6U920zVo","created_at":"2015-06-05T00:06:06-04:00","updated_at":"2020-03-21T01:05:13-04:00","promoted_at":"2015-06-05T00:06:06-04:00","width":4797,"height":3026,"color":"#636159","description":"Mountain
        Valley","alt_description":"white wooden tree surround by grass field during
        sunset","urls":{"raw":"https://images.unsplash.com/photo-1433477155337-9aea4e790195?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1433477155337-9aea4e790195?ixlib=rb-1.2.1&q=85&fm=jpg[...]
